.modal-blog.modal,
.modal-blog.overlay {
  overflow: scroll;
}
.modal-blog.modal .modal-content {
  position: relative;
  top: 10%;
  left: 0;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10%;

}
.modal-blog .modal-content .left,
.modal-blog .modal-content .right {
  width: 100%;
  padding: 0;
  margin-top: 30px;
}

.publich{
  height: 110px;
}
.publich h4{
  color: #000000;
}
 

 
.detail {
  margin-bottom: 20px;
}
.links{
  color: dodgerblue;
}
.dark-mode .links{
  color: #000000;
}

.modal-text span{
  color: #000000;
}

/*----------blog_contact--------*/

.blog_contact .left,
.blog_contact .right {
  margin: 0 25px 0 0;
}

/*----------blog_contact--------*/
@media (max-width: 768px) {
  .modal-blog.modal .modal-content {
    max-width: 90%;
  }
  .modal-blog.modal .modal-content {
    margin-bottom: 20%;
  }
}
